html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 64px;
  margin: 30px 0;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 35px;
  font-weight: 400;
  margin: 10;
}

h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 5;
}

p {
  font-size: 16px;
}

.start-container {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.logo {
  width: 100%;
}

.header {
  padding: 20px;
  margin: 30px 0px 10px 0px;
}

.sub-heading {
  border-top: 2px solid;
  text-align: center;
  font-size: 18px;
}

/* PAGES */

.uppdrag {
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
}

.pristagare {
  padding: 20px;
}

.priser {
  padding: 20px;
  background-color: #f2ebdf;
}

.ledamoter {
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
}

.bild-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ledamoter-bild {
  width: 100%
}

.historia-wrapper {
  display: flex;
  flex-direction: column;
}

.akademins-uppdrag {
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
  height: 450px;
}

.historia {
  padding: 20px;
  background-color: #F2EBDF;
  color: black;
}

.ledamöter-wrapper {
  display: flex;
  flex-direction: column;
}

.akademins-stolar {
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
  height: 500px;
}

.listade-ledamöter {
  padding: 40px 20px;
  background-color: #F2EBDF;
  color: black;
}

.akademins-priser {
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
  height: 400px;
}



/* LINKS */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.white-arrow-link-element {
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  color: white;
}

.black-arrow-link-element {
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
}

.arrow {
  width: 30px;
  margin-left: 10px;
}

.back-link-element {
  display: flex;
  flex-direction: flex-start;
  font-weight: bold;
}

.back-link {
  display: flex;
  flex-direction: flex-start;
  font-weight: bold;
  cursor: pointer;
}

.back-link:hover {
  text-decoration: none;
}

.back-text {
  padding-left: 5px;
}

/* FOOTER */

.footer-heading {
  margin: 30px 0 30px 15px;
}

.footer-wrapper {
  display: flex;
}

.footer-section {
  display: flex;
  width: 50%;
}

.footer-text {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 0 15px;
}

.footer-logo {
  object-fit: fill; 
  width: 20%;
  margin: 30px 15px 25px 15px;
}

/* ACCORDION */

.accordion-wrapper {
  display: flex;
  flex-direction: column;
}

.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}

.list-title-icon{
  display: flex;
}

.title-icon{
  margin-right: 5px;
}

.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}

.accordion-title {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  cursor: pointer;
  color: #666;
  padding: 0.5em 1.5em;
  border: solid 1px #ccc;
  border-radius: 1.5em;
  display: flex;
  justify-content: space-between;
}

.accordion-content {
  padding: 0 30px;
}
