html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 35px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.start-container {
  display: flex;
  flex-direction: column;
}

/* HEADER */

.logo {
  width: 100%;
}

.header {
  padding: 20px;
  margin: 30px 0px 30px 0px;
}

.sub-heading {
  border-top: 2px solid;
  text-align: center;
  font-size: 18px;
}

/* PAGES */

.uppdrag {
  height: 500px;
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
}

.pristagare {
  height: 500px;
  padding: 20px;
}

.ledamoter {
  height: 500px;
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
}

.historia-wrapper {
  display: flex;
  flex-direction: column;
}

.akademins-uppdrag {
  padding: 20px;
  background-color: #640101;
  color: #FFFFFF;
}

.historia {
  padding: 20px;
}

/* LINKS */

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.white-arrow-link-element {
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
  color: white;
}

.black-arrow-link-element {
  display: flex;
  flex-direction: row-reverse;
  font-weight: bold;
}

.arrow {
  width: 30px;
  margin-left: 10px;
}

.back-link-element {
  display: flex;
  flex-direction: flex-start;
  font-weight: bold;
}

.back-link {
  display: flex;
  flex-direction: flex-start;
  font-weight: bold;
  cursor: pointer;
}

.back-link:hover {
  text-decoration: none;
}

.back-text {
  padding-left: 5px;
}

/* FOOTER */

.footer-wrapper {
  display: flex;
}

.footer-logo {
  width: 100%;
}

.footer-logo-section {
  display: flex;
  flex-direction: space-evenly;
  width: 100%;
  height: auto;
}

.footer-text-section {
  display: flex;
  flex-direction: space-evenly;
  width: 100%;
}

.footer-text {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

/* ACCORIDON */


button {
  display: flex;
  align-items: center;
  background: #c4c4c4;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 1rem;
}

button.active {
  background-color: #dfbd85;
  color: #ffffff;
  border: #dfbd85 solid 1px;
}

button:hover {
    background-color: #dfbd85;
}

.title-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.minus {
  background-color: #640101;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
}

.plus {
  background-color: #dfbd85;
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  transition-timing-function: ease-in;
  transition: all 1s;
  position: absolute;
  right: 0;
}

.panel-close { 
  background: #e0e0e0;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
  opacity:0;
  width:100%;
  height:0;
  overflow: hidden;
  transition-timing-function: ease-out;
  transition: all 1s;
}

.panel-open {
  overflow: hidden;
  background: #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity:1;
  width:100%;
  height: auto;
  transition-timing-function: ease-in;
  transition: all 1s;
}

.panel p {
  margin: 0;
}
