body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.uppdrag {
  width: 100%;
  background-color: #640101;
  color: #FFFFFF;
  
}
